PORT=5001
MONGO_URI=mongodb+srv://hirunikarunarathne7_db_user:icqG0rxUE8QFzDWP@cluster0.lhel1ok.mongodb.net/?appName=Cluster0
JWT_SECRET=kade_manager_super_secret_jwt_key_change_in_prod
JWT_EXPIRES_IN=7d
NODE_ENV=development
